<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
	#container_1 {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		border: 2px solid #dedede;
		padding: 5px;
	}
	img {
		float: right;
		width:220px;
		height:100px;
		margin-left:15px;
	}
	</style>

</head>
<body>
	<div id="container_1">
		<h3>It Was Just a Dream</h3>

		<p><img src="./img/{{place}}.jpg" alt={{place}}>	
			In {{place}}, {{name}} was having the time of their life. Chilling on a pool chair while drinking a pina colada, they watched as their friends frolicked in the pool. A stranger came up to them and said, "Hey qt, wanna hang out? You look lonely." {{name}} gladly accepted and the two started to talk about stuff. Turns out, their name was {{person}} and they had a {{pet}}. After a while, they became the best of friends. Suddenly, the sky turned gray and rain started to pour down. Lightning flashed all around them until one struck. Gasping for air, {{name}} sat straight up in bed. Panicking, they realized it was all just a dream. After waking up for school the next morning, {{name}} went to school at {{school}}. In first period, there was a new student called {{person}}. {{name}} knew that they would become best friends soon enough.
		</p>

		<p>Notice in the source of this page there's a little empty div that has style="clear: both;". This is a little trick that allows the div with id="container_1" to wrap around the image</p>
		<div style="clear: both;"></div> 

	</div>

</body>
</html>