<!DOCTYPE html>
<html>
<head>
    <title>Housepoints: Users in this house</title>
</head>
<body>
    <h3>
        These are all the characters!
    </h3>
    
    {{#each sum}}
    <li>{{this.house_name}}</li>
    <li>{{this.sum}}</li>
{{/each}}
    
    <div class="content">
    <button type="button" onclick="fetchFromServer()">Press to see all the characters!</button>

    <p id="response_area"></p>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
function fetchFromServer() {
    
    var ajax_params = {
        'url'     : "https://user.tjhsst.edu/2023awang/userapi",
        'type'    : "get",
        'success' : onServerResponse    // the name of the callback function to call
    }
    
    // run AJAX function 
    $.ajax( ajax_params )
}
function onServerResponse (responseObject) {
    // Jquery will automatically convert text to an object if it 
    //  recognizes that the result is JSON
    
    console.log(responseObject)
    
    var temp = "";
    
    for (var i = 0; i < responseObject.length; i++) {
        temp += responseObject[i].user_name + ", " + responseObject[i].house_name + ", " + responseObject[i].amount + "<br>";
    }
    
    document.getElementById('response_area').innerHTML = temp;
    
}
</script>

{{#each user}}
    <li>{{this.house_name}}</li>
    <li>{{this.user_name}}</li>
    <li>{{this.amount}}</li>
{{/each}}
    
    <a href="https://user.tjhsst.edu/2023awang/login" >Login to add points to individuals</a>
    <br><br>
    <a href="https://user.tjhsst.edu/2023awang/logout" >Click here to logout</a> <br><br>
</body>
</html>