<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/housepoints.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add User to House</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
                <form id="add-user-form" action="adduser">
                <div class="form-group row">
                    <label for="user_name" class="col-sm-2 col-form-label">User Name: </label>
                    <div class="col-sm-10">
                        <input type="input" class="form-control" id="user_name" name="user_name" >
                    </div>
                </div>

                <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">House: </legend>
                    <div class="col-sm-10">
                        {{#each housenames}}
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="house_id" id="house_id{{this.houseid}}" 
                        value="{{this.houseid}}" required>
                        <label class="form-check-label house-{{this.houseid}}" for="house_id{{this.houseid}}">
                            {{this.housename}}
                        </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                </fieldset>

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary col-md-6" onclick="location.href='userhousesum'">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary col-md-6">Add</button>
                    </div>
                </div>
            </form>

        </div>        
    </div>

</body>
</html>